<!DOCTYPE html>
<!---
* ..index.html, uly, aug2014..
*
* The Angular-Sorter for Placements.io coding assignment;
* A "static" html-page that, given a JSON input, provides a quick
* summary of the data (if any).
*
* See doc/anguler-sorter-mockup.png for the required layout.
-->
<html>

<head>
  <title>Angular Sorter</title>

  <!-- lib -->
  <link href="lib/normalize.css" rel="stylesheet">
  <link href="lib/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="lib/jquery-2.1.1.min.js"></script>
  <script src="lib/lodash.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
  <script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>


  <script>
    window.aschyiel = window.aschyiel || {};    // Provide a namespace.
  </script>

  <!-- src -->
  <link href="src/css/index.css" rel="stylesheet">
  <script src="src/js/default_data.js"></script>
  <script src="src/js/user_input_ctrl.js"></script>
  <script src="src/js/index.js"></script><!-- ..main, goes last.. -->

</head>

<body>

  <h1>Angular Sorter</h1>

  <hr>

  <div ng-controller="UserInputCtrl">

    <!--
    * A mechanism for providing user-error feedback
    * (ie. RoR flash messaging).
    *-->
    <span id="flash">{{ flash }}</span>

    <!-- TODO: Is there a reusable library for this? -->
    <textarea id="input" ng-model="input"
      required
      placeholder="paste in your data..."
      ng-focus="onInputFocus()"
      ng-blur ="onInputBlur()"
      ></textarea>

    <button id="sort_button" type="button" class="btn btn-primary"
      ng-click="sort()"
      >Sort!</button>

    <div class="clearfix"></div>

    <ol class="summary" >
      <li ng-repeat="bin in summary">
        <span class="bucket-label" >{{ bin.label }}</span>
        <span class="bucket-count" >{{ bin.count }}</span>
        <span class="bucket-total" >{{ bin.sum }}</span>
        <ul class="sample">
          <li ng-repeat="it in bin.blurb" >{{ it }}</li>
        </ul>
      </li>
    </ol>


  </div>

</body>

</html>
