

/** see http://css-tricks.com/all-about-floats/ */
.clearfix:after { 
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
  margin-left: 12px;
}

/**--------------------
*
* The user-input part.
*
*--------------------*/

/** By default, the text-area representing the user-input is "collapsed". */
#input {
  float: right;
  width: 80%;
  height: 35px;
}
#input.expanded {
  height: 500px;
}
#sort, #input {
  float: left;
}
#sort {
  margin-left: 10px;
}
#flash {
  display: block;
  color: red;
  min-height: 20px;
  margin-top: -16px;
  margin-bottom: 4px;
}

/**--------------------
*
* The output-summary part
*
*--------------------*/

.summary {
  margin-top: 24px;
  list-style: none;
}
.bucket-title {
  font-size: 18px;
}
.blurb {
  list-style-type: disc;
}

