

/** see http://css-tricks.com/all-about-floats/ */
.clearfix:after { 
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
  margin-left: 12px;
}

/**--------------------
*
* The user-input part.
*
*--------------------*/

/** By default, the text-area representing the user-input is "collapsed". */
#input {
  float: right;
  width: 275px;
  height: 35px;
}
#input.expanded {
  width: 60%;
  height: 325px;
}
#sort, #input {
  float: left;
}
#sort {
  margin-left: 32px;
}
#flash {
  display: block;
  color: red;
  min-height: 20px;
  margin-top: -16px;
  margin-bottom: 4px;
}

/**--------------------
*
* The output-summary part
*
*--------------------*/

.summary {
  margin-top: 24px;
  list-style: none;
  padding: 0;
}
.bucket-title {
  font-size: 21px;
  font-family: sans-serif;
}
.bucket-sample {
  margin-top: 12px;
}
.blurb {
  list-style-type: disc;
}
.bucket {
  display: inline-block;
  width: 390px;
  height: 155px;
  float: left;
}

